body {
    font-family: 'Verdana', sans-serif;
    margin: 30px;
    background-color: #f2f2f2;
    color: #333;
}

h1 {
    text-align: center;
    color: #4d4dff;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #999;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

input:hover {
    border-color: #4d4dff;
}

button {
    padding: 10px;
    background-color: #99cc99;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4d4dff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px; 
    background-color: #e6e6e6;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    opacity: 1;
}

li:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

li button {
    margin-left: 10px;
    background-color: #4d4dff;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li button:hover {
    background-color: #99cc99;
}

/* Mobile view */
@media (max-width: 600px) {
    body {
        margin: 15px;
    }
    li {
        margin-bottom: 15px;
    }
}

/* Desktop view */
@media (min-width: 601px) {
    body {
        margin: 30px;
    }
    li {
        margin-bottom: 20px;
    }
}
